
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Quicksand&display=swap');

html {
  scroll-behavior: smooth;
  scroll-snap-type: y;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', sans-serif;
}


section {
  scroll-snap-align: center;
  max-height: 100vh;
}
