@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Quicksand&display=swap');
@font-face {
  font-family: "heading-font";
  src: url("./assets/mediasanssemicondensed-bold-TRIAL-BF63c75479cdb92.otf"), format("otf");
}
/* Navbar Styling */
.nav{
  width: 100%;
  padding: 3vh 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 15%;
}
.nav-links{
  width: 34%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
} 


.nav-links li{
  list-style: none;
  color: black;
  font-weight: 500;
}

.lanSwitch{
  width: 10%;
  justify-content: center;
  align-items: center;
  gap: 30%;
  display: flex;
  cursor: pointer;
  color: gray;
  font-weight: 500;
}

.active {
  color: black;
  font-weight: 500;
}

.underline {
  width: 100%;
  height: 2px;
  position: relative;
  bottom: -5px;
}

.btn{
  background: black;
  color: white;
  border: 0.14rm solid black;
  text-align: center;
  flex: 0 auto;
  border-radius: 0.28em;
  order :0;
  align-self: auto;
  padding: 0.75em 1.11em;
  font-size: 1rem;
  line-height: 1.67;
  font-weight: lighter;
  cursor: pointer;
}

.btn2{
  background: white;
  color: black;
  border: 0.14rm solid black;
}

/* Hero Section Styling */
.hero-sec{
  margin-top: 5vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.text-sec{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: ease-out 0.5s;
}

.photo-div{
  width: 100%;
  /* display: flex;
  justify-content: center; */
  position: relative;

}
.photo{
  position: absolute;
  margin-top: 1%;
  left: 32%;
  width: 35%;
  z-index: 1;
}

.intro{
  font-weight: lighter;
  letter-spacing: -1px;
  font-size: 1.8em;
  font-family: "Montserrat", sans-serif;

}

.designer, .designer1, .designer2, .developer, .developer1, .developer2 {
  font-size: 14.2rem;
  font-weight: bolder;
  font-family: "heading-font", Impact, sans-serif;
  letter-spacing: 3px;
}

.designer {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  transition: ease-out 0.5s;

}
.designer1 {
  color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  position: absolute;
}

.designer2 {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: absolute;
  z-index: 2;
  transition: ease-out 0.5s;
}

.developer {
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1.5px;
  transition: ease-out 0.5s;
}

.developer1 {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  opacity: 0;
  position: absolute;
}

.developer2 {
  z-index: 2;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  opacity: 0;
  position: absolute;
}

.opacity-reduced{
  transition: ease-out 0.5s;
}

#trial:hover .developer{
  opacity: 0;
  transition: ease-out 0.5s;
}

#trial:hover .developer2, #trial:hover .developer1{
  opacity: 1;
  transition: ease-out 0.5s;

}
.opacity-reduced .designer, .opacity-reduced .designer2 {
  opacity: 0;
}


.details{
  margin-top: 1vh;
  width: 72%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.details div{
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details div img{
  width: 22%;
  filter: grayscale(1);
  opacity: 0.5;
}

.contact-button{
  margin-top: 10vh;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}