@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Quicksand&display=swap");
@font-face {
  font-family: "honepage-title-font";
  src: url("./assets//fonts/mediasanssemicondensed-bold-TRIAL-BF63c75479cdb92.otf"),
    format("otf");
}
@font-face {
  font-family: "designpage-title-font";
  src: url("./assets/fonts/mediasanssemicondensed-bold-TRIAL-BF63c75479cdb92.otf"),
    format("otf");
}
/* Navbar Styling */
.nav {
  width: 100%;
  padding: 3vh 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 15%;
}
.nav-links {
  width: 34%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.nav-links li {
  list-style: none;
  color: black;
  font-weight: 500;
}

.lanSwitch {
  width: 10%;
  justify-content: center;
  align-items: center;
  gap: 30%;
  display: flex;
  cursor: pointer;
  color: gray;
  font-weight: 500;
}

.active {
  color: black;
  font-weight: 500;
}

.underline {
  width: 100%;
  height: 2px;
  position: relative;
  bottom: -5px;
}

.btn {
  background: black;
  color: white;
  border: 0.14rm solid black;
  text-align: center;
  flex: 0 auto;
  border-radius: 0.28em;
  order: 0;
  align-self: auto;
  padding: 0.75em 1.11em;
  font-size: 1rem;
  line-height: 1.67;
  font-weight: lighter;
  cursor: pointer;
}

.btn2 {
  background: white;
  color: black;
  border: 0.14rm solid black;
}

/* Hero Section Styling */
.hero-sec {
  margin-top: 5vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.text-sec {
  /* width: 100%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 0.5s;
}

.cursor {
  position: fixed;
  pointer-events: none;
  background: white;
  width: 78px;
  height: 78px;
  border: 5px solid black;
  border-radius: 50%;
  z-index: 999;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    scale: 2;
    rotate: -45deg;
    stroke: black;
    stroke-width: 2px;
  }
}

.notCursor {
  display: none;
}
.photo-div {
  width: 100%;
  position: relative;
}
.photo {
  position: absolute;
  left: 32%;
  width: 35%;
  z-index: 1;
}

.intro {
  font-weight: lighter;
  letter-spacing: -1px;
  font-size: 1.8em;
  font-family: "Montserrat", sans-serif;
}

.designer,
.designer1,
.designer2,
.developer,
.developer1,
.developer2 {
  font-size: 14.2rem;
  font-weight: bolder;
  font-family: "honepage-title-font", Impact, sans-serif;
  letter-spacing: 3px;
  /* cursor: url(assets/arrowCursor.png),pointer ; */
  cursor: pointer;
}

.designer {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  transition: transform 0s;
}
.designer1 {
  color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  position: absolute;
}

.designer2 {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: absolute;
  z-index: 3;
  transition: all 0.1s;
}

.developer {
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1.5px;
  transition: all 0.5s;
}

.developer1 {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  opacity: 0;
  position: absolute;
}

.developer2 {
  z-index: 3;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  opacity: 0;
  position: absolute;
}

.opacity-reduced {
  transition: all 0.5s;
}

#trial:hover .developer {
  opacity: 0;
  transition: all 0.5s;
}

#trial:hover .developer2,
#trial:hover .developer1 {
  opacity: 1;
  transition: all 0.5s;
}
.opacity-reduced .designer,
.opacity-reduced .designer2 {
  opacity: 0;
}

.details {
  margin-top: 1vh;
  width: 72%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.details div {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details div img {
  width: 22%;
  filter: grayscale(1);
  opacity: 0.5;
}

.contact-button {
  margin-top: 10vh;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

/* Design Page Styling */
.design-sec {
  margin-top: 11vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.design-sec p {
  color: orange;
  font-weight: bolder;
  letter-spacing: 8px;
  font-size: 0.8em;
  font-weight: bolder;
  margin: 2vh 0;
}

.hero-txt {
  font-family: "designpage-title-font", sans-serif;
  font-size: 5.8rem;
  font-weight: 800;
}

.design-sec button {
  margin: 2.5vh 0;
  width: 250px;
}

.client-display{
  margin-top: 4vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.clients{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2vh 2vh;
  align-items: center;
  gap: 4vh;
}

.clients img{
  width: 40%;
  filter: grayscale(1);
  opacity: 0.9;
}
/* 
.animate {
  animation: slide 10s infinite;

}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(100px) translateX(0%);
  }
} */


